:root {
  --midnight-blue: #01004eff;
  --duke-blue: #0100a4ff;
  --blue: #0000feff;
  --medium-slate-blue: #7d7dffff;
  --white: #fdfdffff;
  --light-coral: #ff8182ff;
  --red: #ff0101ff;
  --international-orange-engineering: #c00000ff;
  --maroon-web: #800000ff;
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
/* banner */
.banner {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-wrap: normal;
  background-color: var(--duke-blue);
  background-image: url("../images/crime-banner-photo.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 1px solid var(--duke-blue);
  background-size: cover;
  background-blend-mode: hard-light;
}
.black-bg {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgba(52, 52, 52, 0.4);
  border-radius: 1rem;
}

.title-div {
  position: relative;
  display: block;
  overflow-wrap: normal;
  height: auto;
  width: auto;
}
.game-title {
  position: relative;
  width: 26rem;
  border-right: 0.15em solid var(--red);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--light-coral);
  }
}
.game-title,
.info-title {
  text-align: center;
}

.button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
/* features with 4 cards */
.features {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--light-coral);
}
.cards {
  width: 20vw;
  margin: 0.5rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  border-radius: 1.7rem;
  background-color: var(--medium-slate-blue);
  color: var(--medium-slate-blue);
}
.cards:hover {
  perspective: 1000px;
  transition: transform 2s;
  transform-style: preserve-3d;
  transform: rotateY(360deg);
  width: 20vw;
  margin: 0.5rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  border-radius: 1.7rem;
  background-color: white;
  color: black;
}
/* promotional videos  */
.promo-video {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.vid {
  box-shadow: 0 0 0.5rem rgba(212, 208, 208, 0.5);
  margin-top: 4rem;
  background-color: var(--midnight-blue);
  color: white;
}
.promo-video,
.promo-text {
  border-left: solid 1px white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}

.promo-text {
  margin: 20px;
}
.click-to-play {
  font-weight: bolder;
}

ul {
  padding-left: 1rem;
}
li {
  list-style-type: disc;
}
/* map section */
.map-div {
  margin: 2rem;
}

.map-div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hr {
  color: solid 2px var(--duke-blue);
}
/* footer that contains a link to github */
.footer {
  text-align: center;
  background-color: var(--duke-blue);
  color: white;
  box-shadow: 0 0 1rem rgba(1, 21, 29, 0.5);
}
.github-icon::before {
  width: 20rem;
  height: 20rem;
}

/* how to play section police div */

.close-container,
.speeches {
  border: 2px solid gainsboro;
  margin-left: 2rem;
  margin-right: 2rem;
}

.close-container {
  background-color: var(--duke-blue);
}
.police-div {
  background-color: var(--light-coral);
  box-shadow: 0 0 1rem rgba(1, 21, 29, 0.5);
}

.speech-bubble-1 {
  width: fit-content;
  height: max-content;
  margin: 3rem;
  padding: 5em;
  background-color: black;
  color: var(--light-coral);
  box-shadow: 0 0 1.5rem rgba(1, 21, 29, 0.5);
}
div.speech-bubble-1:first-child {
  display: block;
}
.speech-bubble-container {
  background-color: gainsboro;
}
.checkbox-do-not-show {
  position: relative;
  float: left;
  margin-top: 2rem;
}
.container-nav {
  position: relative;
  float: right;
  padding: 0rem;
}

/* user input styles */
.game-start-container {
  display: flex;
  flex-direction: column;
}
.input-container {
  background-image: url("../images/police-bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: var(--duke-blue);
  background-blend-mode: overlay;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-input,
.name-input {
  width: 50vw;
}
.label-input-game {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: white;
}

.game-start-btn {
  background-color: var(--midnight-blue);
  color: white;
}
@media screen and (max-device-width: 596px) and (orientation: portrait) {
  :root {
    font-size: 12px;
  }
  /* body {
    overflow: hidden;
  } */

  .game-title {
    font-size: 1.6rem;
  }
  .features {
    display: flex;
    flex-direction: column;
  }
  .cards {
    width: 95vw;
    margin: 0.5rem;
  }
  .container-nav {
    position: relative;
    float: none;
  }
  .speech-bubble-1 {
    margin: 0;
  }
}
