:root {
  --midnight-blue: #01004eff;
  --duke-blue: #0100a4ff;
  --blue: #0000feff;
  --medium-slate-blue: #7d7dffff;
  --white: #fdfdffff;
  --light-coral: #ff8182ff;
  --red: #ff0101ff;
  --international-orange-engineering: #c00000ff;
  --maroon-web: #800000ff;
}

.banner {
  background-color: var(--duke-blue);
  background-image: url("../images/crime-banner-photo.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 1px solid var(--duke-blue);
  background-size: cover;
  /* background-blend-mode: hard-light; */
}
.black-bg {
  background-color: rgba(52, 52, 52, 0.4);
  border-radius: 1rem;
}

.game-title,
.info-title {
  text-align: center;
}
.button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.features {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards {
  width: 20vw;
  margin: 0.5rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}
.circular {
  border-radius: 20rem;
}

.fit-contain {
  object-fit: contain;
}

.promo-video {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.vid {
  box-shadow: 0 0 0.5rem rgba(212, 208, 208, 0.5);
  margin-top: 4rem;
}
.promo-video,
.promo-text {
  border-left: solid 1px var(--duke-blue);
}

.promo-text {
  margin: 20px;
}

.hr {
  color: solid 2px var(--duke-blue);
}

@media screen and (max-device-width: 596px) and (orientation: portrait) {
  .features {
    display: flex;
    flex-direction: column;
  }
  .cards {
    width: 95vw;
    margin: 0.5rem;
  }
}
