:root {
  --midnight-blue: #01004eff;
  --duke-blue: #0100a4ff;
  --blue: #0000feff;
  --medium-slate-blue: #7d7dffff;
  --white: #fdfdffff;
  --light-coral: #ff8182ff;
  --red: #ff0101ff;
  --international-orange-engineering: #c00000ff;
  --maroon-web: #800000ff;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/* banner */
.banner {
  background-color: var(--duke-blue);
  background-image: url("../images/crime-banner-photo.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 1px solid var(--duke-blue);
  background-size: cover;
  background-blend-mode: hard-light;
}
.black-bg {
  background-color: rgba(52, 52, 52, 0.4);
  border-radius: 1rem;
}

.game-title,
.info-title {
  text-align: center;
}
.button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
/* features with 4 cards */
.features {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--light-coral);
}
.cards {
  width: 20vw;
  margin: 0.5rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  border-radius: 1.7rem;
}
.cards:hover {
  width: 20vw;
  margin: 0.5rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  border-radius: 1.7rem;
  background-color: none;
  opacity: 0.2px;
}
/* promotional videos  */
.promo-video {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.vid {
  box-shadow: 0 0 0.5rem rgba(212, 208, 208, 0.5);
  margin-top: 4rem;
  background-color: var(--midnight-blue);
  color: white;
}
.promo-video,
.promo-text {
  border-left: solid 1px white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}

.promo-text {
  margin: 20px;
}
.click-to-play {
  font-weight: bolder;
}

ul {
  padding-left: 1rem;
}
li {
  list-style-type: disc;
}
/* map section */
.map-div {
  margin: 2rem;
}

.map-div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hr {
  color: solid 2px var(--duke-blue);
}
/* footer that contains a link to github */
.footer {
  text-align: center;
  background-color: var(--duke-blue);
  color: white;
  box-shadow: 0 0 rem rgba(1, 21, 29, 0.5);
}
.github-icon::before {
  width: 20rem;
  height: 20rem;
}
@media screen and (max-device-width: 596px) and (orientation: portrait) {
  .features {
    display: flex;
    flex-direction: column;
  }
  .cards {
    width: 95vw;
    margin: 0.5rem;
  }
}
