/* CSS HEX */
--midnight-blue: #01004eff;
--duke-blue: #0100a4ff;
--blue: #0000feff;
--medium-slate-blue: #7d7dffff;
--white: #fdfdffff;
--light-coral: #ff8182ff;
--red: #ff0101ff;
--international-orange-engineering: #c00000ff;
--maroon-web: #800000ff;
