:root {
    --midnight-blue: #01004eff;
    --duke-blue: #0100a4ff;
    --blue: #0000feff;
    --medium-slate-blue: #7d7dffff;
    --white: #fdfdffff;
    --light-coral: #ff8182ff;
    --red: #ff0101ff;
    --international-orange-engineering: #c00000ff;
    --maroon-web: #800000ff;
}

.contacts-container {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: 1;
    grid-template-areas:
    "a b";
    margin-left: 20px;
    margin-right: 20px;
}

.contacts-banner {
    background-image: url(/assets/images/police-siren.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--midnight-blue);
    padding: 180px;
}

.contacts-social-links {
    grid-area: "a";
    display: inline;
}

.text-splash {
    padding-top: 100px;
    display: flex;
    grid-area: "b";
    text-align: center;
}

.contacts-social {
    text-align: center;
    margin: 10px;
}

.contactsPage-logo {
    margin: auto;
    max-width: 60%;
}